# --- Core App ---
streamlit

# --- LLM & Embeddings ---
google-generativeai
langchain==0.2.14
langchain-community==0.2.14
chromadb==0.5.3
sentence-transformers==2.2.2
faiss-cpu

# --- PDF Processing ---
PyMuPDF
pdfplumber

# --- Utils ---
tqdm
tiktoken
numpy
pandas
transformers
torch
